/* Add a black background color to the top navigation */
.topnav {
    background-color: FFE6CC;
    overflow: hidden;
    border: black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 20px;
    border-color: black;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: FFB570;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: FF8000;
    color: black;
  }
   /* Background */
   .body {
    background-color: FFFFCC;
    color: black;
  }
 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 82px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 15px 88px;
  background-color: FFE6CC;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: FFB570;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: FFB570;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

input[type=text] {

  border: 2px FF8000;
  padding: 7px 25px;
  border-radius: 4px;
 
}
input[type=date] {
  
  border: 2px FF8000;
  padding: 7px 25px;
  border-radius: 4px;
 
}
.form {
  margin-top: 40px;
  margin-left: 40px;
}